* {
  background-color: aqua;
 padding:0;
 margin:0;
 vertical-align:baseline;
 list-style:none;
 border:0;
 ;
 
 }

 h1{
  color: aliceblue;
  margin-left: 30%;
  width:30%;
  border: absolute;
 }

 h2{
  color: aliceblue;
  margin-left: 34%;
  width:13%;
 }

 div.registro{
  margin-left: 70%;
  margin-top: -60px;
 }
 #email{
  background-color: black;
 
 }
::placeholder{
  color: white;
}
 #senha{
  background-color: red;
 }

 #butão{
  background-color: red;
  color: aliceblue;
 }


 