*{
 padding:0 ;
 position: flex;
 background: fixed purple;
}

h1{
 margin-top:80px;
 margin: 0px 16px;
 position: relative;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: aqua;
width: 15%;
}
button{
 background-color: black;
 color: aqua;
position: absolute;
margin-right: 40ex;
top: 80px;
padding-top: 5px;
}


